{varType string $serverIp}
{varType string $serverVersion}
{varType string $facebookUrl}
{varType string $instagramUrl}
{varType string $discordUrl}
{block content}
	
	<div class="blur-layer"></div>
    <div class="background-1"></div>

    <div class="container h-65 d-flex flex-column align-items-center justify-content-end text-center">
      <h1 class="display-max header mb-0">BeastBlock</h1>
      <p class="text-2 fw-medium">Přijď si zahrát na jednom z nejkreativnějších projektů!</p>
      <div class="row gy-2 g-3 col-12 col-lg-6">
        <div class="col-12 col-md-6 col-lg">
          <button class="btn btn-primary w-100 fs-4 py-3" id="copyButton" onclick="copyFunction()">Zkopírovat adresu</button>
        </div>
        <div class="col-12 col-md-6 col-lg">
          <a href="#minihry" class="btn btn-outline-light w-100 fs-4 py-3">Co zde najdeš</a>
        </div>
      </div>
    </div>
    <div class="container h-50 mt-5 pt-5">
      <div class="row w-100 g-3 m-0">
        <div class="col-12 col-md-6 col-lg-4">
          <a href="{$discordUrl}" class="content-box discord-box row">
            <div class="col-auto">
              <div class="icon-box discord-icon">
                <i class="phosphor ph-discord-logo-fill"></i>
              </div>
            </div>
            <div class="col cb-text discord-text">
              <h2>Discord - 1500+ lidí</h2>
              <p>Poznej ostatní hráče!</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="content-box row">
          <div class="col-auto">
            <div class="icon-box">
              <i class="phosphor ph-hard-drives-fill"></i>
            </div>
          </div>
          <div class="col cb-text">
            <h2>Stav serveru</h2>
            <p class="minecraft-player-count"></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="content-box row">
          <div class="col-auto">
            <div class="icon-box">
              <i class="phosphor ph-cube-fill"></i>
            </div>
          </div>
          <div class="col cb-text">
            <h2>IP adresa BeastBlocku</h2>
            <p>{$serverIp}</p>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="container">
      <h5 class="montserrat">Dozvi se toho více!</h5>
      <h1 class="display-3 fw-bold">Nejnovější příspěvky a články</h1>
      <a class="text-light d-flex align-items-center mb-3 fs-5" href="{plink Articles:}">
        Přejít na všechny články
        <i class="phosphor ph-arrow-right ms-2"></i>
      </a>
      <div class="row m-0 w-100 px-0">
        {control recentArticlesListing}
      </div>
    </div>

    <div class="container mt-5 pt-lg-5">
      <h5 class="montserrat" id="minihry">Vyber si, kde budeš hrát!</h5>
      <h1 class="display-3 fw-bold mb-5">Servery a minihry na BeastBlocku</h1>
      {control serverListing}
    </div>

    <div class="container mt-5 pt-lg-5 text-center d-flex flex-column align-items-center">
      <img src="{$basePath}/img/BeastBlock_Elis198198.png" alt="" width="70%" loading="lazy">
      <h1 class="display-3 fw-bold">Chceme znát tvůj názor!</h1>
      <p class="fs-5 text-white-50 fw-normal col-lg-7">Každý názor se dnes hodí. Pokud ti něco vadí, chtěl bys něco změnit nebo prostě vyjádřit zkušenost se serverem, navštiv naší stránku se zpětnou vazbou. Děkujeme!</p>
      <a n:href="Feedback:" class="btn btn-primary mt-3 px-5 py-3 col-12 col-lg-4 fs-5">Přispět svým názorem</a>
    </div>

    <div class="container mt-5 pt-lg-5">
      <h5 class="montserrat">Nemůžeš nás podpořit finančně? Podpoř nás hlasem!</h5>
      <h1 class="display-3 fw-bold mb-2">Hlasuj pro nás na hlasovacích stránkách!</h1>
      <div class="row w-100 g-3 m-0">
        <div class="col-md px-0 px-lg-2">
          <div class="content-box row">
            <div class="col-auto">
              <div class="icon-box bg-dark">
                <img src="{$basePath}/img/CzechCraftLogo.png" alt="" width="60%" loading="lazy">
              </div>
            </div>
            <div class="col cb-text">
              <h2>czech-craft.eu - <span id="czech-craft-votes"></span></h2>
              <a href="https://czech-craft.eu/server/beastblock-cz/" target="_blank">Hlasuj na CZCraftu</a>
            </div>
          </div>
        </div>
      <div class="col-md px-0 px-lg-2">
        <div class="content-box row">
          <div class="col-auto">
            <div class="icon-box bg-warning">
              <img src="{$basePath}/img/CraftListLogo.png" alt="" width="60%" loading="lazy">
            </div>
          </div>
          <div class="col cb-text">
            <h2>craftlist.org - <span id="craftlist-votes"></span></h2>
            <a href="https://craftlist.org/beastblock" target="_blank">Hlasuj na Craftlistu</a>
          </div>
        </div>
      </div>
      <div class="col-md px-0 px-lg-2">
        <div class="content-box row">
          <div class="col-auto">
            <div class="icon-box bg-dark">
              <img src="{$basePath}/img/MinecraftServeryLogo.png" alt="" width="60%" loading="lazy">
            </div>
          </div>
          <div class="col cb-text">
            <h2>minecraftservery.eu - <span id="minecraftservery-votes"></span></h2>
            <a href="https://minecraftservery.eu/server/beastblockcz" target="_blank">Hlasuj na MCservery</a>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="container mt-5 pt-lg-5">
      <div class="row mx-0 w-100 px-0 mb-5 d-flex align-items-center flex-column-reverse flex-lg-row">
        <div class="col-md px-0">
          <h5 class="montserrat">Ve dvou jde všechno lépe</h5>
          <h1 class="display-3 fw-bold mb-2">Pohání nás výkon od GamerHost.pro</h1>
          <p class="text-white-50 fs-5">GamerHost provozuje širokou nabídku plánů pro Minecraft servery, takže si každý může vybrat dle svého! Pokud ale Minecraft není nic pro vás, zvažte koupení VPS pro tu největší svobodu v hostování!</p>
          <a href="https://gamerhost.pro/" target="_blank" class="btn btn-outline-light mt-3 px-5 py-3 w-100 col-lg-4 fs-5">Podívat se na GamerHost</a>
        </div>
        <div class="col-md d-flex justify-content-center justify-content-lg-end align-items-center mb-4 mb-lg-0 px-0">
          <img src="{$basePath}/img/GamerHostLogo.png" alt="" width="40%" loading="lazy">
        </div>
      </div>
    </div>
{/block}

{block scripts}
{/block}