:root {
    --cyan-color: #16ccca;
    --cyan-color-dark: #159997;
    --pink-color: #E100A9;
    --pink-color-dark: #9c1079;
    --yellow-color: #D1B258;
    --white-color: #fff;
    --black-color: #242529;
    --border-black-color: #34363f;
    --nav-accent: #c69c3a;
    --nav-accent-2: #e4b13a;
    --shop-text: #5b727f;
    --muted-text: #d5d6e2;
}

.link-title {
    text-decoration: none;
    color: var(--white-color);
    transition: .2s color ease-in-out;
}

.link-title:hover {
    color: var(--nav-accent);
}

.link-container {
    background: var(--black-color);
    border: 1px solid var(--border-black-color);
    border-radius: 10px;
    color: var(--muted-text);
}

.col-auto {
    color: var(--white-color);
}

body {
    padding: 0;
}

.text-muted {
    color: var(--muted-text) !important;
}

.container {
    padding: 0 4px;
    min-height: 85vh;
}

.row {
    color: var(--white-color);
}