{varType bool $isMinecraftConnected}
{varType bool $isDiscordConnected}
{varType string $minecraftNick}
{block content}
    <h1>Propojení</h1>
    <hr class="bg-light">
    {snippetArea connections}
        <div class="row">
            <div class="col wrap">
                {control minecraftConnection}
            </div>
            <div class="col">
                {control discordConnection}
            </div>
        </div>
    {/snippetArea}
{/block content}