{varType string $link}
{block content}
<h1 n:block=title>Přístup odepřen</h1>

<p>Je nám líto, k zobrazení této stránky nemáte dostatečná práva.</p>

<a href="/" class="btn btn-outline-warning w-25 mx-auto mb-2">Zpět na hlavní stránku</a>

<p><small>Error 403</small></p>
