{block content}
<h1 n:block=title>Method Not Allowed</h1>

<p>Požadovaná metoda není povolena pro tuto adresu.</p>

<a href="/" class="btn btn-outline-warning w-25 mx-auto">Zpět na hlavní stránku</a>

<p><small>error 405</small></p>
