{block styles}
    <style>

        .form-group {
            margin-bottom: 30px;
        }

        #frm-signUpForm-form .form-control {
            background: none;
            border: none;
            border-bottom: 2px solid #292e32;
            border-radius: 0;
        }

        #frm-signUpForm-form .form-control:focus {
            border: none;
            border-bottom: 2px solid orange;
            box-shadow: none;
        }

        #frm-signUpForm-form .form-control:focus::placeholder {
            color: orange;
        }

        #frm-signUpForm-form textarea {
            border-top: 2px solid #292e32 !important;
        }

        #frm-signUpForm-form textarea:focus {
            border-top: 2px solid orange !important;
        }

        .input-icon {
            position: absolute;
            left: 15px;
            top: 8px;
            font-size: 1.3rem;
        }

        .input-with-icon {
            position: relative;
            width: 100%;
        }

        .input-with-icon input {
            padding-left: 3rem !important;
            color: var(--secondary);
            margin: auto 0;
        }

        .input-with-icon:focus-within > .input-icon {
            color: var(--warning);
        }

    </style>
{/block}
{form form class => "form-horizontal form-normal", role => "form"}
    <div class="form-group row">
        <div class="input-with-icon">
            <span class="input-icon">
                <i class="fas fa-user"></i>
            </span>
            {input username class => "form-control"}
        </div>
    </div>
    <div class="form-group row">
        <div class="input-with-icon">
            <span class="input-icon">
                <i class="fas fa-envelope"></i>
            </span>
            {input email class => "form-control"}
        </div>
    </div>
    <div class="form-group row">
        <div class="input-with-icon">
            <span class="input-icon">
                <i class="fas fa-lock"></i>
            </span>
            {input password class => "form-control"}
        </div>
    </div>
    <div class="form-group row">
        <div class="input-with-icon">
            <span class="input-icon">
                <i class="fas fa-lock"></i>
            </span>
            {input passwordCheck class => "form-control"}
        </div>
    </div>
    <div class="form-group row">
        {input recaptcha, data-theme => 'dark'}
    </div>
    <div class="errors" n:if="$form->hasErrors()">
        <div n:foreach="$form->errors as $error" class="alert alert-danger error" role="alert">
            <div class="flash-message-body">{$error}</div>
        </div>
    </div>
    <div class="form-group row mb-0">
        {input submit class => "btn btn-outline-warning"}
        <a href="{plink Sign:in}" class="text-secondary ml-3 my-auto" style="text-decoration: underline;">Už máte účet? Přihlaste se.</a>
    </div>
{/form}
<script src='https://www.google.com/recaptcha/api.js'></script>