{block content}
{addCss "/styles/admin/signIn.css"}
<img src="/img/logo.png" alt="logo" class="mx-auto d-block mb-5" style="height: 100px;">
<div class="card mt-0 text-secondary text-center">
    <h1>Už zbývá jen jeden krok!</h1>
    <hr>
    <p>Děkujeme, že jste se registrovali na našem webu. Registraci dokončíte kliknutím na odkaz v emailu, který jsme Vám poslali.</p>
    <a n:href="Sign:in" class="btn btn-outline-warning w-50 mx-auto mt-3">Zpět na přihlášení</a>
</div>
