{form form}
    <div class="form-group row">
        {input token, class => 'form-control'}
    </div>
    <div class="form-group row" n:if="$form->hasErrors()">
        <ul class="list-unstyled alert alert-warning w-100">
            <li n:foreach="$form->getErrors() as $error">{$error}</li>
        </ul>
    </div>
    <div class="form-group row">
        {input submit, class => 'btn btn-outline-success'}
    </div>
{/form}