@import "../msfmultiselect.min.css";

html {
    height: 100%;
}


body {
    background-image: url('../../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: available;
    width: 100%;
}

.container {
    background-color: white;
    margin: 0;
    padding: 2em;
    width: 100%;
}

.row {
    margin: 0;
}

.nav {
    background-color: #343a40;
    height: 100%;
}

.nav-link {
    display: block;

    text-align: center;

    padding-top: .5em;
    padding-bottom: .5em;

    color: #bfbfbf;

}

.nav-link:hover {
    text-decoration: none;
    background-color: #23272b;
}

.msf_multiselect_container {
    width: 100%;
}

.form-group {
    margin-top: 1em;
}

.form-control {
    border-radius: 0;
}

.required::after {
    content: '*';
    color: red;
}