.container {
    background-color: unset;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.card {
    width: 600px;
    margin: 10em auto auto;
    padding: 2em;
    background-color: rgba(0,0,0, 0.5);

    border-radius: 0;
    border: 2px solid orange;
}