{varType Nette\Database\Table\ActiveRow[] $articles}
{varType int $page}
{varType int $pages}

{block styles}
    <link rel="stylesheet" type="text/css" href="{$basePath}/styles/about.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/styles/style.css">
{/block}

{snippet articles}
    {foreach $articles as $article}
        <div class="link-container p-5 mb-5">
            <div>
                {if ((bool) $article[App\Repository\Primary\ArticleRepository::COLUMN_IS_PINNED]) === true}
                    <i class="fas fa-thumbtack text-danger"></i>
                {/if}
                <h3><a class="link-title fw-bold display-4" href="{plink Articles:show 'id' => $article[App\Repository\Primary\ArticleRepository::COLUMN_ID]}">{$article[App\Repository\Primary\ArticleRepository::COLUMN_TITLE]}</a></h3>
            </div>
            <div class="row">
                <div class="col-auto">
                    <i class="fas fa-user me-2 fs-5 text-warning"></i>
                    {$article->created_user['username']}
                </div>
                •
                <div class="col-auto">
                    <i class="fas fa-calendar me-2 fs-5 text-warning"></i>
                    {$article[App\Repository\Primary\ArticleRepository::COLUMN_CREATED]|date: 'd. m. Y H:i'}
                </div>
            </div>
            <div class="mt-4">
                {$article[App\Repository\Primary\ArticleRepository::COLUMN_TEXT]|truncate:100|noescape}
            </div>
        </div>
    {/foreach}
    {* TODO: Upravit styl stránkování *}
    <nav>
        <ul class="pagination">
            {if $page > 0}
                <li class="page-item"><a class="page-link" href="{plink this $page-1}"><i class="fas fa-angles-left"></i></a></li>
            {/if}
            {for $i = 0; $i < $pages; $i++}
                {if $i === $page}
                    <li class="page-item active"><a class="page-link" href="#">{$i + 1}</a></li>
                {else}
                    <li class="page-item"><a class="page-link" href="{plink this $i}">{$i + 1}</a></li>
                {/if}
            {/for}
            {if $page < $pages - 1}
                <li class="page-item"><a class="page-link" href="{plink this $page+1}"><i class="fas fa-angles-right"></i></a></li>
            {/if}
        </ul>
    </nav>

{/snippet}