{varType Nette\Database\Table\ActiveRow[] $articles}
{varType int $page}
{varType int $pages}

{block styles}
    <link rel="stylesheet" type="text/css" href="{$basePath}/styles/web/style.css">
{/block}
<nav class="mx-auto" style="width: min-content;">
    <ul class="pagination">
        {if $page > 0}
            <li class="page-item btn-outline-warning"><a class="page-link" href="{plink this $page-1}"><i class="fas fa-angles-left"></i></a></li>
        {/if}
            {for $i = 0; $i < $pages; $i++}
            {if $i === $page}
                <li class="page-item active btn-warning"><a class="page-link" href="#">{$i + 1}</a></li>
            {else}
                <li class="page-item btn-outline-warning"><a class="page-link" href="{plink this $i}">{$i + 1}</a></li>
            {/if}
        {/for}
            {if $page < $pages - 1}
            <li class="page-item"><a class="page-link" href="{plink this $page+1}"><i class="fas fa-angles-right"></i></a></li>
        {/if}
    </ul>
</nav>
{snippet articles}
    <div class="row g-3 m-0 w-100">
    {foreach $articles as $article}
    <div class="col-md-6 col-12 px-0 px-md-2">
        <div class="card mb-5 h-100">
            {if !empty($article[App\Repository\Primary\ArticleRepository::COLUMN_BANNER])}
                <div class="card-img-top " style="background-image: url('{$basePath.$article[App\Repository\Primary\ArticleRepository::COLUMN_BANNER]}');"></div>
            {/if}
            <div class="card-body row d-flex align-items-center flex-column flex-lg-row">
                <div class="col-12 col-lg-auto">
                    <div class="time-box d-flex flex-lg-column justify-content-center align-items-center mb-3 mb-lg-0">
                        <h3 class="me-2 me-lg-0">{$article[App\Repository\Primary\ArticleRepository::COLUMN_CREATED]|date: 'd.'}</h3>
                        <p>{$article[App\Repository\Primary\ArticleRepository::COLUMN_CREATED]|date: 'M.'}</p>
                    </div>
                </div>
                <div class="col">
                    <a href="{plink Articles:show $article[App\Repository\Primary\ArticleRepository::COLUMN_ID]}" class="card-title fs-2 text-white text-decoration-none">{$article[App\Repository\Primary\ArticleRepository::COLUMN_TITLE]}</a>
                    <div class="d-flex align-items-center">
                        {var $user = $article->ref(App\Repository\Primary\UserRepository::TABLE_NAME, App\Repository\Primary\ArticleRepository::COLUMN_CREATED_USER_ID)}
                        {var $userDetails = $user?->related(App\Repository\Primary\UserDetailsRepository::TABLE_NAME)->fetch()}
                        <img src="https://minotar.net/avatar/{$userDetails['minecraft_nick'] ?? $user['username']}/250" alt="" class="rounded-1" width="36px" loading="lazy">
                        <h4 class="fw-bold ms-3 mb-0">{$article->ref(App\Repository\Primary\UserRepository::TABLE_NAME, App\Repository\Primary\ArticleRepository::COLUMN_CREATED_USER_ID)[App\Repository\Primary\UserRepository::COLUMN_USERNAME]}</h4>
                        {if $article[App\Repository\Primary\ArticleRepository::COLUMN_IS_PINNED]}
                        <p class="text-white-50 fs-4 mb-0 mx-3">•</p>
                        <p class="mb-0 text-secondary"><i class="phosphor ph-push-pin fs-4"></i></p>
                        {/if}
                        <p class="text-white-50 fs-4 mb-0 mx-3">•</p>
                        <p class="mb-0 text-secondary">{$article[App\Repository\Primary\ArticleRepository::COLUMN_CREATED]|date: 'd.m.Y \v\e H:i'}</p>
                    </div>
                    <p class="card-text article-text text-white-50 mt-3">{$article[App\Repository\Primary\ArticleRepository::COLUMN_TEXT]|truncate: 200|noescape}</p>
                </div>
            </div>
        </div>
    </div>
    {/foreach}
    </div>
    {* TODO: Upravit styl stránkování *}
    <nav class="w-100 mt-5 d-flex justify-content-center">
        <ul class="pagination">
            {if $page > 0}
                <li class="page-item btn-outline-warning"><a class="page-link" href="{plink this $page-1}"><i class="fas fa-angles-left"></i></a></li>
            {/if}
            {for $i = 0; $i < $pages; $i++}
                {if $i === $page}
                    <li class="page-item active btn-warning"><a class="page-link" href="#">{$i + 1}</a></li>
                {else}
                    <li class="page-item btn-outline-warning"><a class="page-link" href="{plink this $i}">{$i + 1}</a></li>
                {/if}
            {/for}
            {if $page < $pages - 1}
                <li class="page-item"><a class="page-link" href="{plink this $page+1}"><i class="fas fa-angles-right"></i></a></li>
            {/if}
        </ul>
    </nav>

{/snippet}