<div class="mb-4">
    <img class="mb-4" alt="Logo" width="200px" src="{$basePath}/img/logo.svg">
    <h2>Obnovení hesla</h2>
    <p>Nepotřebuješ resetovat heslo? <a href="{plink Sign:in}" class="fw-semibold text-decoration-none">Přihlaš se</a></p>
</div>
<div>
{form form class => "form-horizontal form-normal", role => "form"}
    <div class="errors" n:if="$form->hasErrors()">
        <div n:foreach="$form->errors as $error" class="alert alert-danger error" role="alert">
            <div class="flash-message-body">{$error}</div>
        </div>
    </div>

    <div class="row m-0 w-100 g-1">
        <div class="form-group col-12 mb-3">
            <label for="floatingInput"><i class="fas fa-user"></i> E-Mailová adresa</label>
            {input email class => "form-control"}
        </div>
        <div class="form-group col-12 mb-3">
            {input recaptcha, data-theme => 'dark'}
            <script src='https://www.google.com/recaptcha/api.js'></script>
        </div>
        <div class="form-group col-12">
            {input submit class => "btn btn-primary py-2 w-100 mb-3"}
        </div>
    </div>

    <script type="text/javascript">
        document.write('<input type="hidden" name="x_url" value="no' + 'spam">');
    </script>
{/form}
</div>