users:
    title: 'Uživatelé'
    roles:
        USER: 'Uživatel'
        ADMIN: 'Web Admin'
        OWNER: 'Majitel'
        LEADER: 'Vedení'
        DEVELOPER: 'Developer'
        BUILDER: 'Builder'
        HELPER: 'Helper'
        TESTER: 'Tester'
        SERVER_ADMIN: 'Admin'
    add: 'Přidat uživatele'
    delete: 'Odstranit'
settings:
    field:
        name: 'Název'
        content: 'Hodnota'
        nullable: 'Hodnota může být prázná'
        error:
            name_required: 'Název je povinný údaj'
            name_used: 'Tento název je již použit'
            content_required: 'Hodnota je povinný údaj'
    error:
        not_exists: 'Nastavení s tímto ID neexistuje.'

home: 'Domů'
dungeonEscape:
    title: 'Dungeon Escape'
    rooms: 'Místnosti'
    quests: 'Questy'
    statistics: 'Statistiky'
poll:
    title: 'Hlasování'
    add: 'Přidat'
    list: 'Seznam'
articles:
    title: 'Články'
    add: 'Přidat článek'
    edit: 'Upravit článek'
    delete: 'Smazat článek'
    publish: 'Pubklikovat'
    pin: 'Připnout'
    field:
        id: 'ID'
        title: 'Název'
        text: 'Text'
        published: 'Publikováno'
        pinned: 'Připnuto'
        created: 'Datum vytvoření'
        author: 'Autor'
        changed: 'Datum poslední úpravy'
        editor: 'Editor'
