items: Položky
from: Od
all: Vše
per_page_submit: Nastavit počet položek na stránku
action: Akce
reset_filter: Resetovat filtr
no_item_found: Nebyly nalezeny žádné položky
next: Další
previous: Předchozí
show_filter: Zobrazit filtr
no_item_found_reset: Nebyly nalezeny žádné data. Zkuste
here: resetovat filtry
per_page: položek na stránce