parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenter\*Presenter
		Error: App\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	- App\Router\RouterFactory::createRouter
	- App\Security\Authenticator

	- App\AdminModule\component\SignInForm\SignInForm
	- App\AdminModule\component\SignInForm\SignInFormFactory

	- App\AdminModule\component\AddUserForm\AddUserForm
	- App\AdminModule\component\AddUserForm\IAddUserFormFactory

	- App\FrontModule\Component\Team
	- App\FrontModule\Component\ITeamFactory

	- App\AdminModule\Component\ServerListing
	- App\AdminModule\Component\IServerListingFactory

	- App\Repository\UserRepository
	- App\Repository\RoleRepository
	- App\Repository\UserRoleRepository
	- App\Repository\UserDetailsRepository
	- App\Repository\ServerRepository

extensions:
	translation: Contributte\Translation\DI\TranslationExtension

translation:
	locales:
		whitelist: [en, cs, sk]
		default: en
		fallback: [en]
	dirs:
		- %appDir%/lang
	returnOriginalMessage: true # to not translate undefined messages, default is false
	localeResolvers:
	    - Contributte\Translation\LocalesResolvers\Router
