includes:
    - components.neon
    - repositories.neon
    - facades.neon
    - services.neon
    - permission.neon
    - menu.neon
    - api.neon

parameters:


application:
	errorPresenter: Error
	mapping:
		Error: App\Presenter\*Presenter
		Api: Tomaj\NetteApi\Presenters\*Presenter
		*: App\Modules\*Module\Presenter\*Presenter


session:
	expiration: 14 days
	autoStart: true


di:
	export:
		parameters: yes
		tags: no


services:
	- App\Router\RouterFactory::createRouter
	- App\Security\Authenticator
	- App\Model\ContextLocator(primary: @database.primary.context, dungeonEscape: @database.dungeonEscape.context, rewards: @database.rewards.context, luckPerms: @database.luckPerms.context)

extensions:
	translation: Contributte\Translation\DI\TranslationExtension
	recaptcha: Contributte\ReCaptcha\DI\ReCaptchaExtension
	menu: Contributte\MenuControl\DI\MenuExtension

translation:
	locales:
		whitelist: [en, cs, sk]
		default: cs
		fallback: [en]
	dirs:
		- %appDir%/lang
	returnOriginalMessage: true # to not translate undefined messages, default is false
	localeResolvers:
	    - Contributte\Translation\LocalesResolvers\Router

tracy: 
    email: 
        - info@beastblock.cz
        - quaky@beastblock.cz
    fromEmail: webtracy@beastblock.cz
    netteMailer: true
    logSeverity: [E_WARNING, E_NOTICE, E_ERROR]
    errorTemplate: 'app/Presenter/templates/Error/500.phtml'

php:
	date.timezone: Europe/Prague