includes:
    - components.neon
    - repositories.neon


parameters:


application:
	errorPresenter: Error
	mapping:
		Error: App\Presenter\*Presenter
		*: App\Modules\*Module\Presenter\*Presenter


session:
	expiration: 14 days
	autoStart: true


di:
	export:
		parameters: no
		tags: no


services:
	- App\Router\RouterFactory::createRouter
	- App\Security\Authenticator

extensions:
	translation: Contributte\Translation\DI\TranslationExtension

translation:
	locales:
		whitelist: [en, cs, sk]
		default: cs
		fallback: [en]
	dirs:
		- %appDir%/lang
	returnOriginalMessage: true # to not translate undefined messages, default is false
	localeResolvers:
	    - Contributte\Translation\LocalesResolvers\Router
