services:
    - App\Modules\WebModule\Component\Team\ITeamFactory
    - App\Modules\AdminModule\Component\User\IUserFormFactory
    - App\Modules\AdminModule\Component\User\IUserGridFactory
    - App\Modules\AdminModule\Component\ServerListing\IServerListingFactory
    - App\Modules\AdminModule\Component\SignInForm\ISignInFormFactory
    - App\Modules\AdminModule\Component\Settings\ISettingsFormFactory
    - App\Modules\AdminModule\Component\Settings\ISettingsGridFactory
    - App\Modules\WebModule\Component\Feedback\FeedbackFormFactory
