services:
    - App\Facade\MailFacade
    - App\Facade\PollFacade

    - App\Modules\ApiModule\Model\Player\PlayerFacade
    - App\Modules\ApiModule\Model\PlayerStatistics\PlayerStatisticsFacade
    - App\Modules\ApiModule\Model\User\UserFacade
    - App\Modules\ApiModule\Model\User\UserConnectTokenFacade
    - App\Modules\ApiModule\Model\User\Connector\MinecraftUserConnectFacade
    - App\Modules\ApiModule\Model\User\Connector\DiscordUserConnectFacade
    - App\Modules\ApiModule\Model\User\Connector\TwitchUserConnectFacade(%twitch.redirectUri%)

    - App\Facade\RewardsFacade
    - App\Facade\LuckPermsFacade
