parameters:
    baseUrl: 'http://localhost:5000'

database:
    primary:
        dsn: 'mysql:host=127.0.0.1;dbname=bbweb'
        user: bbweb
        password: 'bbweb'
    dungeonEscape:
        dsn: 'mysql:host=127.0.0.1;dbname=roguelike'
        user: 'root'
        password: ''
        autowired: false

recaptcha:
    siteKey: ''
    secretKey: ''

mail:
    smtp: true
    host: 'smtp.endora.cz'
    username: ''
    password: ''
    secure: 'ssl'