menu:
    admin:
        translator: true
        linkGenerator: @App\Model\LinkGenerator
        authorizator: @App\Security\MenuAuthorizator
        templates:
           menu: %appDir%/Modules/AdminModule/templates/menu.latte
        items:
            'admin.home':
                action: 'Admin:Default:default'
                data:
                    icon: 'fas fa-home'
            'admin.users.title':
                action: 'Admin:Users:default'
                data:
                    icon: 'fas fa-users'
            'admin.articles.title':
                action: 'Admin:Article:default'
                data:
                    icon: 'fas fa-newspaper'
            'admin.dungeonEscape.title':
                link: '#'
                data:
                    icon: 'fas fa-dungeon'
                    sublistId: 'dungeonEscape'
                items:
                    'admin.dungeonEscape.rooms':
                        link: '#'
                        data:
                            icon: 'fas fa-house-crack'
                    'admin.dungeonEscape.quests':
                        link: '#'
                        data:
                            icon: 'fas fa-circle-question'
            'admin.poll.title':
                link: '#'
                data:
                    icon: 'fas fa-poll'
                    sublistId: 'poll'
                items:
                    'admin.poll.list':
                        action: 'Admin:Poll:default'
                        data:
                            icon: 'fa-solid fa-square-poll-horizontal'
                    'admin.poll.add':
                        action: 'Admin:Poll:add'
                        data:
                            icon: 'fas fa-plus'
            'Nastavení':
                link: '#'
                data:
                    icon: 'fas fa-gears'
                    sublistId: 'settings'
                items:
                    'Servery':
                        action: 'Admin:Servers:default'
                        data:
                            icon: 'fas fa-server'
                    'Proměnné':
                        action: 'Admin:Settings:default'
                        data:
                            icon: 'fas fa-ellipsis'
    client:
        translator: true
        linkGenerator: @App\Model\LinkGenerator
        authorizator: @App\Security\MenuAuthorizator
        templates:
           menu: %appDir%/Modules/AdminModule/templates/menu.latte
        items:
            'client.dashboard.title':
                action: 'Client:Dashboard:default'
                data:
                    icon: 'fas fa-house'
            'client.connections.title':
                action: 'Client:Connections:default'
                data:
                    icon: 'fas fa-link'
            'admin.dungeonEscape.title':
                link: '#'
                data:
                    icon: 'fas fa-dungeon'
                    sublistId: 'dungeonEscape'
                items:
                    'admin.dungeonEscape.statistics':
                        action: 'Client:DungeonEscape:default'
                        data:
                            icon: 'fas fa-table'
            'admin.poll.title':
                action: 'Client:Poll:default'
                data:
                    icon: 'fas fa-poll'