parameters:
    permission:
        USER:
            - Client:Dashboard
            - Client:Connections
            - Client:DungeonEscape
        ADMIN:
            - Admin:Default
            - Admin:Settings
            - Admin:Servers
        LEADER: []
        HELPER: []
        BUILDER: []
        SERVER_ADMIN: []
        DEVELOPER: []
        TESTER: []