parameters:
    permission:
        USER:
            - Error
            - Error4xx
            - Client:Dashboard
            - Client:Connections
            - Client:DungeonEscape
            - Client:Poll
            - Client:Error
            - Client:Error4xx
            - Admin:Error
            - Admin:Error4xx
        ADMIN:
            - Admin:Default
            - Admin:Settings
            - Admin:Servers
            - Admin:Users
            - Admin:Article
            - Admin:Poll
            - Admin:Rewards
            - Admin:Tags
        OWNER:
            - Admin:Default
        LEADER:
            - Admin:Poll
        HELPER:
            - Admin:Default
        BUILDER:
            - Admin:Default
        SERVER_ADMIN:
            - Admin:Default
            - Admin:Rewards
        DEVELOPER:
            - Admin:Default
        TESTER: []