services:
    - App\Repository\Primary\UserRepository
    - App\Repository\Primary\RoleRepository
    - App\Repository\Primary\UserRoleRepository
    - App\Repository\Primary\UserDetailsRepository
    - App\Repository\Primary\UserMinecraftAccountRepository
    - App\Repository\Primary\UserDiscordAccountRepository
    - App\Repository\Primary\UserTwitchAccountRepository
    - App\Repository\Primary\UserConnectTokenRepository
    - App\Repository\Primary\ArticleRepository
    userTokenRepository: App\Repository\Primary\UserTokenRepository
    - App\Repository\Primary\ServerRepository
    - App\Repository\Primary\SettingsRepository
    - App\Repository\Primary\FeedbackRepository

    - App\Repository\DungeonEscape\PlayerRepository
    - App\Modules\ApiModule\Model\PlayerStatistics\PlayerStatisticsRepository

    - App\Repository\Primary\PollRepository
    - App\Repository\Primary\PollOptionRepository
    - App\Repository\Primary\PollParticipantRepository
    - App\Repository\Primary\PollRoleRepository

    - App\Repository\Rewards\RewardRepository
    - App\Repository\Rewards\ServerRepository
    - App\Repository\Rewards\PlayerRepository
    - App\Repository\Rewards\RewardServerRepository
    - App\Repository\Rewards\RewardPlayerRepository
    - App\Repository\Rewards\RewardCommandRepository
    - App\Repository\Rewards\RewardPermissionRepository

    - App\Repository\Primary\TagRepository
    - App\Repository\Primary\ServerTagRepository
    - App\Repository\Primary\PositionRepository

    - App\Repository\LuckPerms\LuckPermsUserPermissionsRepository