services:
    - App\Repository\UserRepository
    - App\Repository\RoleRepository
    - App\Repository\UserRoleRepository
    - App\Repository\UserDetailsRepository
    - App\Repository\ServerRepository
    - App\Repository\SettingsRepository
    - App\Repository\FeedbackRepository