{block content}
{addCss "/styles/admin/signIn.css"}

<div class="mb-4">
    <img class="mb-4" alt="Logo" width="200px" src="{$basePath}/img/logo.svg">
    <h2>Zapomenuté heslo</h2>
    <p>Vzpomněl/a sis na heslo? <a href="{plink Sign:in}" class="fw-semibold text-decoration-none">Přihlaš se</a>
</div>
<div>
    <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
        {$flash->message}
    </div>
    {control forgottenPasswordForm}
</div>

