{block content}
{addCss "/styles/admin/signIn.css"}
<img src="/img/logo.svg" alt="logo" class="mx-auto d-block mb-5" style="height: 100px;">

<div class="card mt-0">
    <h1 class="text-secondary mb-4 fw-bold text-white">Přihlášení</h1>
    {control signInForm}
</div>
