{block content}
{addCss "/styles/admin/signIn.css"}
    <div class="mb-4">
        <img class="mb-4" alt="Logo" width="200px" src="{$basePath}/img/logo.svg">
        <h2>Přihlásit se</h2>
        <p>Ještě nejsi členem? <a href="{plink Sign:up}" class="fw-semibold text-decoration-none">Založ si účet</a></p>
    </div>
    <div>
        {control signInForm}
    </div>
