{block content}
{addCss "/styles/admin/signIn.css"}
<img src="/img/logo.svg" alt="logo" class="mx-auto d-block mb-5" style="height: 100px;">
<div class="card mt-0">
    <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
        {$flash->message}
    </div>
    <h1 class="text-white fw-bold mb-4">Změna hesla</h1>
    {control resetPasswordForm}
</div>
