{block content}
{addCss "/styles/admin/signIn.css"}
<img src="/img/logo.png" alt="logo" class="mx-auto d-block mb-5" style="height: 100px;">
<div class="card mt-0">
    <h1 class="text-white mb-4 fw-bold">Registrovat se</h1>
    {control signUpForm}
</div>
