{block content}
{addCss "/styles/admin/signIn.css"}

<div class="mb-4">
    <img class="mb-4" alt="Logo" width="200px" src="{$basePath}/img/logo.svg">
    <h2>Vytvoření účtu</h2>
    <p>Už ses k nám přidal? <a href="{plink Sign:in}" class="fw-semibold text-decoration-none">Přihlaš se</a></p>
</div>
<div>
    <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
        {$flash->message}
    </div>
    {control signUpForm}
</div>