<html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="project" content="BeastBlock.cz">
    <meta name="author" content="BeastBlock.cz | Quaky">

    <link rel="stylesheet" type="text/css"  href="/webpack/stylesAdmin.bundle.css">
    <link rel="stylesheet" href="{$basePath}/libs/fontawesome/css/all.css">
    {block styles}{/block}

    <script>
        LiveFormOptions = {
            messageErrorClass: 'text-warning',
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="/webpack/scriptsAdmin.bundle.js" nonce=""></script>

    <title>Uživatelská zóna</title>

</head>
{if $user->isLoggedIn()}
    {import '_adminLayout.latte'}
{else}
    {import '_plainLayout.latte'}
{/if}
<body>
    {include styles}
    {include body}
</body>
{block scripts}{/block}
</html>