{varType Nette\Database\Table\ActiveRow[] $articles}
{if count($articles) > 0}
<div class="row gy-3 gx-0 gx-md-3 w-100 m-0 px-0 h-auto">
    {var $i = 0}
    {foreach $articles as $article}
    <div class="col-{if $i === 0}12{else}md{/if}">
        <div class="card">
            <div class="card-img-top" style="background-image: url('{$basePath}/img/2022-12-26_11.45.42.png');"></div>
            <div class="card-body row d-flex align-items-center flex-column flex-lg-row">
                <div class="col-12 col-lg-auto">
                    <div class="time-box d-flex flex-lg-column justify-content-center align-items-center mb-3 mb-lg-0">
                        <h3 class="me-2 me-lg-0">{$article[App\Repository\Primary\ArticleRepository::COLUMN_CREATED]|date: 'd.'}</h3>
                        <p>{$article[App\Repository\Primary\ArticleRepository::COLUMN_CREATED]|date: 'M.'}</p>
                    </div>
                </div>
                <div class="col">
                    <a href="{plink Articles:show $article[App\Repository\Primary\ArticleRepository::COLUMN_ID]}" class="card-title fs-2 text-white text-decoration-none max-lines">{$article[App\Repository\Primary\ArticleRepository::COLUMN_TITLE]}</a>
                    <div class="d-flex align-items-center">
                        {var $user = $article->ref(App\Repository\Primary\UserRepository::TABLE_NAME, App\Repository\Primary\ArticleRepository::COLUMN_CREATED_USER_ID)}
                        {var $userDetails = $user?->related(App\Repository\Primary\UserDetailsRepository::TABLE_NAME)->fetch()}
                        <img src="https://minotar.net/avatar/{$userDetails['minecraft_nick'] ?? $user['username']}/250" alt="" class="rounded-1" width="36px" loading="lazy">
                        <h4 class="fw-bold ms-3 mb-0">{$article->ref(App\Repository\Primary\UserRepository::TABLE_NAME, App\Repository\Primary\ArticleRepository::COLUMN_CREATED_USER_ID)[App\Repository\Primary\UserRepository::COLUMN_USERNAME]}</h4>
                        {if $article[App\Repository\Primary\ArticleRepository::COLUMN_IS_PINNED]}
                        <p class="text-white-50 fs-4 mb-0 mx-3">•</p>
                        <p class="mb-0 text-secondary"><i class="phosphor ph-push-pin fs-4"></i></p>
                        {/if}
                        <p class="text-white-50 fs-4 mb-0 mx-3">•</p>
                        <p class="mb-0 text-secondary">{$article[App\Repository\Primary\ArticleRepository::COLUMN_CREATED]|date: 'd.m.Y \v\e H:i'}</p>
                    </div>
                    <p class="card-text article-text text-white-50 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolorum porro culpa ullam iusto provident, repudiandae sapiente nemo nam facere voluptatibus odio sequi repellendus libero tenetur ducimus, quia cumque nobis.</p>
                </div>
            </div>
        </div>
    </div>
    {var $i = $i + 1}
    {/foreach}
</div>
{/if}