{block content}
<div class="card">
    <div class="card-body">
        <h1>Uživatelé</h1>
        {control userGrid}
    </div>
</div>


<style>
    th .col-active {
        text-align: left !important;
    }
</style>
