<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{$basePath}/webpack/stylesWeb.bundle.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/img/BB_Favicon.svg">
    <link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/img/BB_Favicon.svg">
    <link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/img/BB_Favicon.svg">
    <link rel="mask-icon" href="{$basePath}/img/BB_Favicon.svg" color="#9a16ff">
    <link rel="shortcut icon" href="{$basePath}/img/BB_Favicon.svg">
    <!-- Meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta content="BeastBlock.cz" property="og:title" />
    <meta content="Vítej na BeastBlocku! Jsme server, který ti nabídne zábavu po dlouhé hodiny. Navštiv nás!" property="og:description" />
    <meta content="https://beastblock.cz" property="og:url" />
    <meta content="https://beastblock.cz/img/skins/logo.svg" property="og:image" />
    <meta content="#a32bff" data-react-helmet="true" name="theme-color" />

    <meta name="description" content="Vítej na BeastBlocku! Jsme server, který ti nabídne zábavu po dlouhé hodiny. Navštiv nás!">
    <meta name="author" content="BeastBlock.cz | Quaky & Kléma">
    <meta name="keywords" content="BeastBlock, Mojang, Minecraft">
    <meta name="author" content="BeastBlock.cz">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">

    <title>BeastBlock.cz</title>

    <script type="text/javascript">
        function closeCookie() {
            document.cookie = "expires=Fri, 31 Dec 9999 23:59:59 GMT";
            document.getElementById('cookieContent').style.visibility = 'hidden';
        }
    </script>
    <!-- Hotjar Tracking Code for https://www.beastblock.cz -->
    <script type="application/javascript" src="{$basePath}/js/hotjar.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8BT2Z2PW0S"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-8BT2Z2PW0S');
    </script>
</head>
<body>
    <section class="vh-100 p-2 container-fluid" id="login-1">
        <div class="row w-100 m-0 g-0 h-100">
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center text-center">
                <div class="p-2 col-lg-8 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                    <div class="mb-4">
                        <img class="mb-4" alt="Logo" width="200px" src="{$basePath}/img/logo.svg">
                    </div>
                    {include content}
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-6 h-100 overflow-hidden rounded-4 d-none d-lg-grid background-error"></div>
        </div>
    </section>
</body>
</html>