{layout '@layout.latte'}

{varType string $verificationUrl}

{block content}
    <h1>Ověření emailu</h1>
    <p>
        Vážený hráči,
        <br>
        právě nám byl zaslán požadavek pro změnu Vašeho hesla. V případě, že si heslo resetujete Vy, klikně te na tento <a href="{$url}">odkaz</a>. V opačném případě tento email ignorujte.
    </p>
    <p>
        S pozdravem
        <br>
        Tým BeastBlock.cz
    </p>
{/block}