<!DOCTYPE html>
<!-- CC: 3ca2135837d11347 -->
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="BeastBlock.cz" property="og:title"/>
    <meta content="Minecraftový server, kde můžeš nalézt různé hry jako Dungeon Escape nebo Subserver!" property="og:description"/>
    <meta content="https://beastblock.cz/" property="og:url"/>
    <meta content="{$basePath}/img/beastblock_icon_website.png" property="og:image"/>
    <meta content="#ff9b05" data-react-helmet="true" name="theme-color"/>
    <meta name="author" content="Quaky & Caidorn & sCrapy">
    <meta name="project" content="BeastBlock.cz">

    <link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/favicon/favicon-16x16.png">
    <link rel="manifest" href="{$basePath}/favicon/site.webmanifest">
    <link rel="mask-icon" href="{$basePath}/favicon/safari-pinned-tab.svg" color="#5bbad5">

    <link rel="stylesheet" href="{$basePath}/webpack/stylesWeb.bundle.css">

    {block styles}
    {/block}

    <title>BeastBlock.cz</title>

    <script type="text/javascript">
        function closeCookie()
        {
            document.cookie = "expires=Fri, 31 Dec 9999 23:59:59 GMT";
            document.getElementById('cookieContent').style.visibility = 'hidden';
        }
    </script>
    <!-- Hotjar Tracking Code for https://www.beastblock.cz -->
    <script type="application/javascript" src="{$basePath}/js/hotjar.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8BT2Z2PW0S"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag()
        {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-8BT2Z2PW0S');
    </script>
</head>
<body>
<a href="https://www.toplist.cz" id="toplist">
    <script lang="JavaScript" type="text/javascript">

        document.write('<img src="https://toplist.cz/count.asp?id=1801844&logo=s&http=' +
            escape(document.referrer) + '&t=' + escape(document.title) +
            '&wi=' + escape(window.screen.width) + '&he=' + escape(window.screen.height) + '&cd=' +
            escape(window.screen.colorDepth) + '" width="14" height="14" alt="TOPlist" style="visibility: hidden; border: none; " />');

        document.getElementById('toplist').style.visibility = 'hidden';
        document.getElementById('toplist').style.height = '0';
        document.getElementById('toplist').style.display = 'none';
    </script>
    <noscript><img src="https://toplist.cz/count.asp?id=1801844&logo=s" border="0"
                   alt="TOPlist" width="14" height="14" style="visibility: hidden;"/></noscript>
</a>
{block beforeContent}{/block}
{include "navbar.latte"}
<div class="container my-3">
    {block content}{/block}
</div>
<div class="cookie-banner">
    <div class="ccontainer">



        <article class="cookie-text">Používáním našeho webu souhlasíte s ukládáním <a>souborů cookies.</a></article>
        <button class="close-cookies" onclick="closeCookies()">Souhlasím</button>
    </div>
</div>
<script>
    function showPopUp(id)
    {
        document.getElementById(id).style.display = 'block';
    }

    function closePopUp(id)
    {
        document.getElementById(id).style.display = 'none';
    }
</script>
<script src="{$basePath}/webpack/scriptsWebVendor.bundle.js"></script>
<script src="{$basePath}/webpack/scriptsWeb.bundle.js"></script>
{block scripts}{/block}
<script src="{$basePath}/js/cookies.js"></script>
</body>
</html>
