<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{$basePath}/webpack/stylesWeb.bundle.css">
    <title>Document</title>
</head>
<body>
    {include navbar.latte}

    {block content}{/block}

    <div class="bg-dark-yellow w-100 h-auto">
      <footer class="flex-column flex-lg-row d-flex justify-content-lg-between align-items-lg-center container py-5">
        <div>
          <img src="{$basePath}/img/logo.svg" alt="" width="156px" loading="lazy">
          <p class="fs-5 mt-3 text-white-50">©️ BeastBlock.cz 2023 | Všechna práva vyhrazena.<br>Nespolupracujeme a nejsme součástí Mojang AB.</p>
          <p class="text-white-50">Stránka vytvořena <a href="https://adam-klement.cz/">Klémou</a> a <a href="https://quaky.cz/">Quakym</a>.</p>
          <div class="d-flex">
            <a href="https://discord.beastblock.cz" target="_blank" class="text-decoration-none"><i class="phosphor ph-discord-logo-fill fs-3 text-white"></i></a>
            <a href="https://www.youtube.com/channel/@beastblock.cz" target="_blank" class="text-decoration-none"><i class="phosphor ph-youtube-logo-fill fs-3 text-white ms-3"></i></a>
            <a href="https://www.instagram.com/beastblock.cz/" target="_blank" class="text-decoration-none"><i class="phosphor ph-instagram-logo-fill fs-3 text-white ms-3"></i></a>
          </div>
        </div>
        <div class="d-flex flex-column text-lg-end">
          <a href="#" class="text-white-50 fs-5">Domů</a>
          <a href="#" class="text-white-50 fs-5">Servery</a>
          <a href="#" class="text-white-50 fs-5">Články</a>
          <a href="#" class="text-white-50 fs-5">Tým</a>
          <a href="#" class="text-white-50 fs-5">Obchod</a>
          <a href="#" class="text-white-50 fs-5">Status</a>
          <a href="#" class="text-white-50 fs-5">Zpětná vazba</a>
          <a href="#" class="text-white-50 fs-5">Kontaktovat</a>
          <a href="#" class="text-white-50 fs-5">Profil</a>
        </div>
      </footer>
    </div>
    <script src="{$basePath}/webpack/scriptsWebVendor.bundle.js"></script>
    <script src="{$basePath}/webpack/scriptsWeb.bundle.js"></script>
    {block scripts}{/block}
</body>
</html>