{block styles}
    <link rel="stylesheet" type="text/css" href="{$basePath}/styles/about.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/styles/articles.css">
{/block}
{block content}
<div>
    <h2>Seznam příspěvků</h2>
    {control articlesListing}
</div>
