<div>
{form form class => "form-horizontal form-normal", role => "form"}
    {input returnKey}
    <div class="errors" n:if="$form->hasErrors()">
        <div n:foreach="$form->errors as $error" class="alert alert-danger error" role="alert">
            <div class="flash-message-body">{$error}</div>
        </div>
    </div>

    <div class="row w-100 m-0 g-2">
        <div class="col-12">
            <label for="floatingInput"><i class="fas fa-user"></i> E-Mailová adresa</label>
            {input email class => "form-control"}
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <label for="floatingInput"><i class="fas fa-fingerprint"></i> Heslo</label>
                <a href="{plink Sign:forgottenPassword}" class="change-pass">Zapomenuté heslo?</a>
            </div>
            {input password class => "form-control"}
        </div>
        <div class="col-12 row g-2 m-0 mt-4 w-100">
            <div class="col">
                {input submit class => "btn btn-primary w-100"}
            </div>
            <div class="col-auto">
                <a href="/" class="btn btn-outline-light w-auto"><i class="fas fa-x"></i></a>
            </div>
        </div>
    </div>
{/form}
</div>