{block styles}
    <style>

        .form-group {
            margin-bottom: 30px;
        }

        #frm-signInForm-form .form-control {
            background-color: #212127;
            border: none;
            border-bottom: 2px solid #292e32;
            color: #fff !important;
            border-radius: 5px 5px 3px 3px;
        }

        #frm-signInForm-form .form-control:focus {
            border: none;
            border-bottom: 2px solid orange;
            box-shadow: none;
            color: #fff !important;
        }

        #frm-signInForm-form .form-control:focus::placeholder {
            color: #fff !important;
        }

        #frm-signInForm-form textarea {
            border-top: 2px solid #292e32 !important;
            color: #fff !important;
        }

        #frm-signInForm-form textarea:focus {
            border-top: 2px solid orange !important;
            color: #fff !important;
        }

        .input-icon {
            position: absolute;
            left: 24px;
            top: 10px;
            font-size: 1rem;
            color: orange;
        }

        .input-with-icon {
            position: relative;
            width: 100%;
        }

        .input-with-icon input {
            padding-left: 3rem !important;
            color: var(--secondary);
            margin: auto 0;
        }

        .input-with-icon:focus-within > .input-icon {
            color: var(--warning);
        }

    </style>
{/block}
{form form class => "form-horizontal form-normal", role => "form"}
    {input returnKey}
    <div class="errors" n:if="$form->hasErrors()">
        <div n:foreach="$form->errors as $error" class="alert alert-danger error" role="alert">
            <div class="flash-message-body">{$error}</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="input-with-icon">
            <span class="input-icon"><i class="fas fa-envelope"></i></span>
            {input email class => "form-control"}
        </div>
    </div>
    <div class="form-group row">
        <div class="input-with-icon">
            <span class="input-icon"><i class="fas fa-lock"></i></span>
            {input password class => "form-control"}
        </div>
    </div>
    <div class="form-group row mb-0">
        {input submit class => "btn btn-outline-warning py-2"}
        <a href="{plink Sign:up}" class="text-white ml-3 my-auto mt-3" style="text-decoration: underline;">Ještě nemáte účet? Zaregistrujte se.</a>
    </div>
{/form}