{varType string $pollQuestion}
{varType int[] $pollResults}
<h4 class="fw-normal">{$pollQuestion}</h4>
<hr>
<div class="row" n:foreach="$pollResults as $text => $count">
    <span><b>{$text}: </b>{$count}</span>
</div>
